:root{
    --bgcolor-- : #219e96;
    --headerColor-- : #f1f1f1;
    --linkBgHover-- : #15302e;
    --navHeight-- : 2.5em;
    --contourColor-- : rgba(0, 0, 0, 0.2);
    --contourSize-- : 2rem;
    --paddingSize-- : 0.625rem;
}
#top{
    position: sticky;
    top : 0;
    left : 0;
    right : 0;
    padding : 0;
    margin : 0;
    box-shadow: 0 0 var(--contourSize--) 0 var(--contourColor--);
}
#top > *{
    padding : 0;
    margin : 0;
}
#top > nav{
    padding : 0;
    margin : 0;
    display : flex;
    background-color: var(--bgcolor--);
    justify-content: space-between;
    align-items: stretch;
    height : var(--navHeight--);
}
#top > nav > h1{
    padding : 0;
    margin : 0;
    color: var(--headerColor--);
    margin-left : 0.75rem;
    align-self : center;
}
#top > nav > ul{
    padding : 0;
    margin : 0;
    list-style-type: none;
    display : flex;
}
#top nav ul li{
    height : var(--navHeight--);
    transition: all 0.5s;
    margin : 0;
    padding : 0;
}
#top nav ul li a{
    margin : 0;
    display : block;
    text-decoration: none;
    color : var(--headerColor--);
    padding : var(--paddingSize--);
}
#top nav ul li:hover{
    background-color: var(--linkBgHover--);
}