:root{
    --sideColor-- : #e7f2f1;
    --sideBarWidth-- : 12.5em;
}

#sidebar{
    display : inline-block;
    padding : 0;
    margin : 0;
    background-color: var(--sideColor--);
    overflow-y : auto;
    overflow-x: hidden;
    position : sticky;
    top : var(--navHeight--);
    height: calc(100vh - var(--navHeight--));
    flex-basis : var(--sideBarWidth--);
    box-shadow: 0 0 var(--contourSize--) 0 var(--contourColor--);
    z-index: 1;
}
#sidebar > *{
    padding : 0;
    margin : 0;
}
#sidebar > h2{
    margin-top : 0.625rem;
    margin-bottom : 0.625rem;
    margin-left : 0.75rem;
}
#sidebar > ul{
    list-style-type: none;
}
#sidebar > ul > li > a{
    text-decoration: none;
    color : black;
    margin-left : 1.1rem;
}
#sidebar > ul > li:hover{
    background-color: var(--bgcolor--);
}
#sidebar > ul > li:hover a{
    color : var(--headerColor--);
}