#content{
    flex : 1;
    z-index: 1;
    margin : 0;
    padding : 0;
}
#content h2{
   padding : 1.5rem;
   margin-bottom: 0;
}

#description{
  padding-left : 1.5rem;
  margin: 0;

}
#symptoms > section > ul > li {
  list-style-type: none;
  margin : 0.5em;
}
#form_filter{
  display: flex;
}
form {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-left : 1.5em;
  margin-top : 1em;
}
input[type="checkbox"]
{
  accent-color: var(--bgcolor--);
}
form input[type="text"] {
  flex-basis: 50%;
  margin-right : 1em;
}
form input[type="text"], form button {
  border: 1px solid black; 
  cursor: pointer;
  height:auto;
  z-index : 3;
  border-radius: 2px;
}

form button:hover {
  background-color: var(--bgcolor--); 
  color: white;
  border-color: grey;
}
@media (max-width: 600px) {
  #sidebar {
    display: none;
  }
}