:root{
    --bgcolor-- : #219e96;
    --headerColor-- : #f1f1f1;
    --linkBgHover-- : #378781;
    --navHeight-- : 40px;
    --contourColor-- : rgba(0,0,0,0.2);
    --contourSize-- : 20px;
    --paddingSize-- : 12px;
}
#top{
    z-index : 2;
    position: sticky;
    top : 0;
    left : 0;
    right : 0;
    padding : 0;
    margin : 0;
    box-shadow: 0 0 var(--contourSize--) 0 var(--contourColor--);
}
#top > *{
    padding : 0;
    margin : 0;
}
#top > nav{
    padding : 0;
    margin : 0;
    display : flex;
    background-color: var(--bgcolor--);
    justify-content: space-between;
    align-items: stretch;
    height : var(--navHeight--);
}
#top > nav > h1{
    padding : 0;
    margin : 0;
    color: var(--headerColor--);
    margin-left : 12px;
    margin-top : calc((var(--paddingSize--) / 2));
}
#top > nav > ul{
    padding : 0;
    margin : 0;
    list-style-type: none;
}
#top nav ul li{
    display : inline-block;
    height : var(--navHeight--);
}
#top nav ul li a{
    display : block;
    text-decoration: none;
    color : var(--headerColor--);
    padding : var(--paddingSize--);
}
#top nav ul li:hover{
    background-color: var(--linkBgHover--);
}