:root{
    --sideColor-- : #e7f2f1;
    --itemColor-- : #9faaa8;
    --sideBarWidth-- : 200px;
}
#sidebar{
    display : inline-block;
    padding : 0;
    margin : 0;
    background-color: var(--sideColor--);
    overflow-y : auto;
    overflow-x: hidden;
    position : sticky;
    top : var(--navHeight--);
    height: calc(100vh - var(--navHeight--));
    flex-basis : var(--sideBarWidth--);
    box-shadow: 0 0 var(--contourSize--) 0 var(--contourColor--);
    z-index: 1;
    flex-shrink: 0;
    
}
#sidebar > *{
    padding : 0;
    margin : 0;
}
#sidebar > h2{
    margin-top : 10px;
    margin-bottom : 10px;
    margin-left : 12px;
}
#sidebar > ul{
    list-style-type: none;
    padding : 2px;
}
#sidebar > ul > li > a{
    text-decoration: none;
    color : black;
}
#sidebar > ul > li{
    text-align: center;
    padding : 5px;
    margin-bottom : 6px;
    border : 1px solid var(--itemColor--);
    border-radius : 10px;
}
#sidebar > ul > li:hover{
    background-color: var(--bgcolor--);
}
#sidebar > ul > li:hover a{
    color : var(--headerColor--);
}
#toggle-sidebar {
    background-color: var(--bgcolor--);
    height: 3em;
    border-width: 0;
    border-color: var(--bgcolor--);
    display: none;
    border-radius: 2px;
    
  }
  
  #toggle-sidebar .bar {
     width: 25px;
     height: 2px;
     background-color: white;
     margin: 6px 0;
     transition: 0.4s;
   }

#toggle-sidebar:hover{
    background-color: var(--linkBgHover--);
    border: white solid 1px;
    cursor: pointer;
}

.hidden {
    visibility: hidden !important;
    width: 0 !important;
}

.show{
    visibility: visible !important;
}